<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>

<script src="/js/highcharts.js"></script>
<script src="/js/sankey.js"></script>
<script src="/js/exporting.js"></script>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Highcharts Example</title>

<style type="text/css">
#container {
	width: 80vw;
	margin: 1em auto;
	border: 1px solid silver;
	height: 80vh;
}

#csv {
	display: none;
}
</style>
</head>
<body>
	<div class="container">
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Features <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" id="featureDropdown">
				<li><i class="fas fa-search"></i> <input type="text"
					placeholder="Search.." id="featureInput" class="searchInput"
					onkeyup="filterFunction('featureInput','featureDropdown')"></li>
				<li th:each="feature : ${features}" href="#" class="feature-config"><input
					class="feature-checkbox" type="checkbox"
					th:data-id="${feature.idfeature}" /><label
					th:text="${feature.name}"></label></li>
				<li><button type="button" class="btn btn-primary float-right"
						onClick="filterSelectedFeatures()">Apply</button></li>
			</ul>
		</div>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Products <span class="caret"></span>
			</a>

			<ul class="dropdown-menu" id="productDropdown">
				<li><i class="fas fa-search"></i> <input type="text"
					placeholder="Search.." id="productInput" class="searchInput"
					onkeyup="filterFunction('productInput','productDropdown')"></li>
				<li th:each="product : ${products}" href="#" class="feature-config"><input
					type="checkbox" class="product-checkbox"
					th:data-id="${'pr-'+product.idproductrelease}" /><label
					th:text="${product.name}"></label></li>
				<li><button type="button" class="btn btn-primary float-right"
						onClick="filterSelectedProducts()">Apply</button></li>
			</ul>
		</div>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Packages <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" id="packageDropdown">
				<li><i class="fas fa-search"></i> <input type="text"
					placeholder="Search.." id="packageInput" class="searchInput"
					onkeyup="filterFunction('packageInput','packageDropdown')"></li>

				<li th:each="componentPackage : ${componentPackages}" href="#"
					class="componentPackage-config"><input
					class="package-checkbox" type="checkbox"
					th:data-id="${'pck-'+componentPackage.idpackage}" /><label
					th:text="${componentPackage.name}"></label></li>
				<li><button type="button" class="btn btn-primary float-right"
						onClick="filterSelectedPackages()">Apply</button></li>

			</ul>
		</div>
	</div>
	<div id="container"></div>




	<script type="text/javascript" th:inline="javascript">
		var linksData = [[${sankeyData}]];
		var nodes = [[${nodes}]];
		var sankeyChart = Highcharts.chart('container', {
		 plotOptions: {
				series:{
					 events: {
			                click: function (event) {
			                    console.log(event);
			                }
			            }
				},
		        sankey: {
		        	nodePadding: 25,
		        	
		        	dataLabels: {
		                style: {
		                  color: 'black',
				 
		                  
		                },
	                	   useHTML: true,
	                       enabled: true,
	                       nodeFormatter: function () {
	                    	   	   if(this.point.expandable==true){
	                               		return this.point.name + '<i class="fas fa-expand-arrows-alt" rel="tooltip" title="Expand this package" data-id="'+this.point.id+'"></i>';
	                    	   	   }else if(this.point.collapsable==true){
	                    	   			return this.point.name + '<i class="far fa-minus-square" rel="tooltip" title="Collapse package files" data-id="'+this.point.parentId+'"></i>';
	                    	   	   }else{
	                    	   			return this.point.name
	                    	   	   }
	                         
	                       }
		        	},
		        	dragDrop:{
		        		draggableY:true,
		        		draggableX:true
		        	}
		        }
		    },
			title : {
				text : 'CustomDiff Diagram'  
			},
			series : [ {
				keys : [ 'from', 'to', 'weight' ],
				cursor: "pointer",
				data : linksData,
				type : 'sankey',
				name : 'Customization effort',
		        nodes: nodes,
			} ],
			
			 chart: {
			        type: 'sankey',
			        scrollablePlotArea: {
			            scrollPositionY: 1
			        }
			    },

		});
		
		var expandAndCollapse = function(){
			$(".fa-expand-arrows-alt").click(function(event){
			       	$.ajax({
		       		type: 'GET',
		       		url : "/nodes/"+$(this).attr("data-id"),
		       		accept: "application/json",
		       		success: function(data) {
		       			sankeyChart.update({
		       			 plotOptions: {
		     				series:{
		     					animation:{
		       		        		duration: 2000
		       		        	}
		       				}
		       			 },
		       		        series: {
		       		            data: data.sankeyItems,
		       		            nodes: data.nodes,
		       		         	
		       		        }
	       				});
		       			expandAndCollapse();
		            }
		       		
		       	})
			});   	
	       	$(".fa-minus-square").click(function(event){
		       	$.ajax({
		       		type: 'GET',
		       		url : "/collapse/"+$(this).attr("data-id"),
		       		accept: "application/json",
		       		success: function(data) {
		       			sankeyChart.update({
		       			 plotOptions: {
		     				series:{
		     					animation:{
		       		        		duration: 2000
		       		        			  }
		       					   }
		       				 },
		       		        series: {
		       		            data: data.sankeyItems,
		       		            nodes: data.nodes,
		       		         	
		       		        }
	       				});
		       			expandAndCollapse();
		            }
		       		
	       		});   	
 	
			});
		}
		expandAndCollapse();
		
	      
	      
	      function filterFunction(myinput,mydropdown) {
			  var input, filter, ul, li, a, i;
			  input = document.getElementById(myinput);
			  filter = input.value.toUpperCase();
			  ul = document.getElementById(mydropdown);
			  a = ul.getElementsByTagName("li");
			  for (i = 1; i < a.length; i++) {
			    txtValue = a[i].getElementsByTagName('label')[0].textContent || a[i].getElementsByTagName('label')[0].innerText;
			    if (txtValue.toUpperCase().indexOf(filter) > -1) {
			      a[i].style.display = "";
			    } else {
			      a[i].style.display = "none";
			    }
			  }
			}
	</script>

	<script type="text/javascript">
			function filterSelectedFeatures(){
				var featuresCheckBoxes = document.getElementsByClassName("feature-checkbox");
				var selectedFeatures = [];
				for (var i = 0; i < featuresCheckBoxes.length; i++) {
					  if(featuresCheckBoxes[i].checked){
						  selectedFeatures.push(featuresCheckBoxes[i].getAttribute("data-id"));
					  }
				}
				if(selectedFeatures.length>0){
					var filteredNodes = nodes.filter(node => node.sankeyNodeType!="FEATURE"|| selectedFeatures.includes(node.id));
					var filteredLinks = linksData.filter(link => !(["PRODUCTFEATURE","FEATUREASSET","FEATUREPACKAGE"].includes(link.sankeyLinkType)) || selectedFeatures.includes(link.from) ||selectedFeatures.includes(link.to) );
					updateSankey(filteredLinks,filteredNodes);
				}else{
					updateSankey(linksData,nodes);
				}
			}
			
			function filterSelectedPackages(){
				var packagesCheckBoxes = document.getElementsByClassName("package-checkbox");
				var selectedPackages = [];
				for (var i = 0; i < packagesCheckBoxes.length; i++) {
					  if(packagesCheckBoxes[i].checked){
						  selectedPackages.push(packagesCheckBoxes[i].getAttribute("data-id"));
					  }
				}
				if(selectedPackages.length>0){
					var filteredNodes = nodes.filter(node => node.sankeyNodeType!="PACKAGE"|| selectedPackages.includes(node.id));
					var filteredLinks = linksData.filter(link => !(["PACKAGEPRODUCT","FEATUREPACKAGE"].includes(link.sankeyLinkType)) || selectedPackages.includes(link.from) ||selectedPackages.includes(link.to) );
					updateSankey(filteredLinks,filteredNodes);
				}else{
					updateSankey(linksData,nodes);
				}
			}
			
			
			function filterSelectedProducts(){
				var productsCheckBoxes = document.getElementsByClassName("product-checkbox");
				var selectedProducts = [];
				for (var i = 0; i < productsCheckBoxes.length; i++) {
					  if(productsCheckBoxes[i].checked){
						  selectedProducts.push(productsCheckBoxes[i].getAttribute("data-id"));
					  }
				}
				if(selectedProducts.length>0){
					var filteredNodes = nodes.filter(node => node.sankeyNodeType!="PRODUCT"|| selectedProducts.includes(node.id));
					var filteredLinks = linksData.filter(link => !(["PACKAGEPRODUCT","PRODUCTFEATURE"].includes(link.sankeyLinkType)) || selectedProducts.includes(link.from) ||selectedProducts.includes(link.to) );
					updateSankey(filteredLinks,filteredNodes);
				}else{
					updateSankey(linksData,nodes);
				}
			}
			
			function updateSankey(updatedData, updatedNodes){
				sankeyChart.update({
	       			 plotOptions: {
	     				series:{
	     					animation:{
	       		        		duration: 2000
	       		        	}
	       				}
	       			 },
	       		        series: {
	       		            data: updatedData,
	       		            nodes: updatedNodes,
	       		         	
	       		        }
      				});
				expandAndCollapse();
				
			}
		</script>

</body>
</html>
