<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>

<script src="/js/highcharts.js"></script>
<script src="/js/sankey.js"></script>
<script src="/js/exporting.js"></script>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Highcharts Example</title>

<style type="text/css">
#container {
	width: 80vw;
	margin: 1em auto;
	border: 1px solid silver;
	height: 80vh;
}

#csv {
	display: none;
}
</style>
</head>
<body>

	<header class="navbar navbar-light bg-faded">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<img src="/images/customDiffLogo.png">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							Analysis Configuration <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" id="analysisConfigDropdown">
							<li class="feature-config"><a href="#"
								onclick='openSaveModal()'>Save Configuration<i
									class="far fa-save"></i>
							</a></li>
							<li class="feature-config"><a href="#"
								onclick="openConfigOpenModal()">Open Configuration<i
									class="far fa-folder-open"></i>
							</a></li>

						</ul>


					</div>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			Features <span class="caret"></span>
		</a>
		<ul class="dropdown-menu" id="featureDropdown">
			<li><i class="fas fa-search"></i> <input type="text"
				placeholder="Search.." id="featureInput" class="searchInput"
				onkeyup="filterFunction('featureInput','featureDropdown')"></li>
			<li th:each="feature : ${features}" href="#" class="feature-config"><input
				class="feature-checkbox" type="checkbox" th:data-id="${feature}" /><label
				th:text="${feature}"></label></li>
			<li><button type="button" class="btn btn-primary float-right"
					onClick="filterSelectedFeatures()">Apply</button>
				<button type="button" class="btn btn-primary float-right"
					onClick="clearFeatureFilters()">Clear</button></li>
		</ul>


	</div>
	<div id="container"></div>
	<div id="hallmarkModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Analysis Hallmark</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<i class="fas fa-pencil prefix grey-text"></i> <label
						data-error="wrong" data-success="right" for="form8">Your
						analysis hallmark</label>
					<textarea type="text" id="form8" class="md-textarea form-control"
						rows="4"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="saveConfigModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Save Analysis Configuration</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<i class="fas fa-pencil prefix grey-text"></i> <label
						data-error="wrong" data-success="right" for="form8">Save
						as...</label> <input type="text" id="saveConfigName"></input>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div id="openConfigModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Save Analysis Configuration</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<i class="fas fa-pencil prefix grey-text"></i> <label
						data-error="wrong" data-success="right" for="form8">Open
						... </label>
					<div class="list-group config-options">
						<button type="button"
							class="list-group-item list-group-item-action">Config 1</button>
						<button type="button"
							class="list-group-item list-group-item-action">Config 2</button>
						<button type="button"
							class="list-group-item list-group-item-action">Config 3</button>
						<button type="button"
							class="list-group-item list-group-item-action">Config 4</button>
						<button type="button"
							class="list-group-item list-group-item-action">Config 5</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary">Open
							Configuration</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<span class="text-muted"> <img src="images/onekinLogo.png"
					alt="Logo" style="width: 150px; height: 70px;"> Contact:
					oscar.diaz@ehu.eus, raul.medeiros@ehu.eus </img>
				</span>

			</div>
		</footer>



		<script type="text/javascript" th:inline="javascript">
		var linksData = [[${sankeyData}]];
		var nodes = [[${nodes}]];
		var sankeyChart = Highcharts.chart('container', {
    	credits:{
		  		enabled:false
 
        },
		chart: {
		        type: 'sankey'
		        
		},
		 plotOptions: {
				series:{
			        borderWidth: 0,

					 events: {
			                click: function (event) {
								   		if (event.point.isNode){
								   			window.open(window.location.href+"node-customizations/"+event.point.sankeyNodeType.toLowerCase()+"/"+event.point.id);
								   		}else{
								   			window.open(window.location.href+"link-customizations/"+event.point.sankeyLinkType.toLowerCase()+"?from="+event.point.from+"&to="+event.point.to);
								   		}
						   		}
			            }
				},
		        sankey: {
		        	nodePadding: 25,
		        	dataLabels: {
		                style: {
		                  color: 'black',
				 
		                  
		                },
	                	   useHTML: true,
	                       enabled: true,
	                       nodeFormatter: function () {
	                    	   	   if(this.point.expandable==true){
	                               		return this.point.name + '<i class="fas fa-expand-arrows-alt" rel="tooltip" title="Expand this package" data-id="'+this.point.id+'"></i>';
	                    	   	   }else if(this.point.collapsable==true){
	                    	   			return this.point.name + '<i class="far fa-minus-square" rel="tooltip" title="Collapse package files" data-id="'+this.point.parentId+'"></i>';
	                    	   	   }else{
	                    	   			return this.point.name
	                    	   	   }
	                         
	                       }
		        	}
		        }
		    },
			series : [ {
				keys : [ 'from', 'to', 'weight' ],
				cursor: "pointer",
				data : linksData,
				type : 'sankey',
				name : 'Customization effort',
		        nodes: nodes,
		        borderWidth:0
			} ],

			title : {
				text : ''  
			},

		    exporting: {
		        menuItemDefinitions: {
		            hallmark: {
		                onclick: function () {
		                	$("#hallmarkModal").modal("show");

		                },
		                text: 'Analysis Hallmark'
		            },
		            report: {
		                onclick: function () {
		                    alert("This functionality is not yet supported")
		                },
		                text: 'Save Report'
		            }
		        },
		        buttons: {
		            contextButton: {
		                menuItems: ['viewFullscreen', 'hallmark','report']
		            }
		        }
		    }

		});
		
		var expandAndCollapse = function(){
			$(".fa-expand-arrows-alt").click(function(event){
					var selectedFeatures = getSelectedFeatures();
			       	$.ajax({
		       		type: 'POST',
		       		url : "/nodes/"+$(this).attr("data-id")+"?features="+selectedFeatures,
		       		data : JSON.stringify({"sankeyItems" : linksData, "nodes" : nodes}),
		       		dataType: "json",
		       		contentType:"application/json",
		       		accept: "application/json",
		       		success: function(data) {
		       			linksData = data.sankeyItems;
		       			nodes = data.nodes;
		       			sankeyChart.update({
		       			 plotOptions: {
		     				series:{
		     					animation:{
		       		        		duration: 2000
		       		        	}
		       				}
		       			 },
		       		        series: {
		       		            data: data.sankeyItems,
		       		            nodes: data.nodes,
		       		         	
		       		        }
	       				});
		       			expandAndCollapse();
		            }
		       		
		       	})
		       	event.stopPropagation();
			    event.preventDefault();
			});   	
	       	$(".fa-minus-square").click(function(event){
				var selectedFeatures = getSelectedFeatures();
		       	$.ajax({
		       		type: 'POST',
		       		url : "/collapse/"+$(this).attr("data-id")+"?features="+selectedFeatures,
		       		data : JSON.stringify({"sankeyItems" : linksData, "nodes" : nodes}),
		       		dataType: "json",
		       		contentType:"application/json",
		       		accept: "application/json",
		       		success: function(data) {
		       			linksData = data.sankeyItems;
		       			nodes = data.nodes;
		       			sankeyChart.update({
		       			 plotOptions: {
		     				series:{
		     					animation:{
		       		        		duration: 2000
		       		        			  }
		       					   }
		       				 },
		       		        series: {
		       		            data: data.sankeyItems,
		       		            nodes: data.nodes,
		       		         	
		       		        }
	       				});
		       			expandAndCollapse();
		            }
		       		
	       		});   	
		       	event.stopPropagation();
			    event.preventDefault(); 	
			});
		}
		expandAndCollapse();
		
	      
	      
	      function filterFunction(myinput,mydropdown) {
			  var input, filter, ul, li, a, i;
			  input = document.getElementById(myinput);
			  filter = input.value.toUpperCase();
			  ul = document.getElementById(mydropdown);
			  a = ul.getElementsByTagName("li");
			  for (i = 1; i < a.length; i++) {
			    txtValue = a[i].getElementsByTagName('label')[0].textContent || a[i].getElementsByTagName('label')[0].innerText;
			    if (txtValue.toUpperCase().indexOf(filter) > -1) {
			      a[i].style.display = "";
			    } else {
			      a[i].style.display = "none";
			    }
			  }
			}
	      
	      function openSaveModal(){
          	$("#saveConfigModal").modal("show");
	      }
	      
	      function openConfigOpenModal(){
	          	$("#openConfigModal").modal("show");
		      }
	</script>

		<script src="/js/sankey-filtering.js"></script>
</body>
</html>
