<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/css/diff2html.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="/css/bootstrap/bootstrap.min.css"></link>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/diff2html.min.js"></script>
<script src="/js/diff2html-ui.min.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css"></link>

</head>
<body>
	<header class="navbar navbar-light bg-faded">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a href="/"><img src="/images/customDiffLogo.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->

				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>


	<div aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Sankey Diagram</a></li>
			<li class="breadcrumb-item active" aria-current="page"><span
				th:text="'Customizations of ' + ${nodeType} +': '+${nodeName}"></span></li>
		</ol>
	</div>

	<div class="container">


		<div id="accordion">
			<div class="card" th:each="customization,iter : ${customizations}">
				<div class="card-header" th:id="'heading'+${iter.index}">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse"
							th:data-target="'#collapse'+${iter.index}" aria-expanded="true"
							th:aria-controls="'collapse'+${iter.index}" th:inline="text">
							FILE: [[${#strings.capitalize(customization.capath)}]] - FEATURE:
							[[${#strings.capitalize(customization.idfeature)}]] - VP Expr:
							[[${customization.expression}]]<i class="fas fa-caret-down"></i>
						</button>
					</h5>
				</div>

				<div th:id="'collapse'+${iter.index}" class="collapse"
					th:aria-labelledby="'heading'+${iter.index}"
					data-parent="#accordion">
					<div class="card-body diffview" th:id="'diffview'+${iter.index}"></div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted"> <img src="/images/onekinLogo.png"
				alt="Logo" style="width: 110px; height: 60px;"> Contact:
				oscar.diaz@ehu.eus, raul.medeiros@ehu.eus </img>
			</span>

		</div>
	</footer>

	<script th:inline="javascript">
			/*<![CDATA[*/

				(function() {
					/** For the diff view **/
					var diffValues = /*[[${customizations}]]*/;
					diffValues.forEach(function(diffvalue,i){
						if (diffvalue.first == null)
							diffvalue.first="Could not obtain diff value";
						console.log("diffvalue:\n" + diffvalue.content);
						var diff2htmlUi = new Diff2HtmlUI({
							diff : diffvalue.custom_diff
						});
						console.log(diff2htmlUi);
						diff2htmlUi.draw('#diffview'+i, {
							inputFormat : 'json',
							showFiles : true,
							matching : 'lines'
						});
					});
					/*double*/
				})();
				/*]]>*/
			</script>


</body>
</html>